body {
  font-family: Roboto, Arial, sans-serif;
}

header.hero {
  background-image: url('https://picsum.photos/1200/300');
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-bottom: 20px;
}

.image-text {
  margin-bottom: 40px;
  img {
    max-width: 100%;
  }
}
